
#divbody{
    /* background-color: aqua; */
    display: grid;
    grid-template-columns: 20% 80%;
}
#sidebar{
    /* background-color: rgb(173, 135, 89); */
    
    /* background-image: linear-gradient(to bottom,rgb(152, 216, 230),rgba(32, 118, 152, 0.74)); */
}
big{
    font-size:30px;
    font-weight: bolder;
    margin-right: 10px;

}
#dropoption{
    /* border:solid; */
    
    padding: 10px 10px;
}
#dropoption:hover{
    background-color: rgb(59, 145, 145);
}
#Dropdown{
    /* border: solid; */
    padding: 3px 0px;
    display: grid;
    grid-template-columns: 20% 80%;

    
}
#dash3{
    padding-left: 10px ;
    font-size: x-large;
    font-weight: 1000;
}
#dropmenu{
    font-style: normal;
    font-weight:bold;
    padding-top: 4.2px;
   
    

}
#h31{
    margin: 0px;
}
#earth{
    display: grid;
    grid-template:200px/ 60% 40%;
    background-image:url(global.jpg) ;
    background-size: cover;
    color:azure;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    
    
}
#on{
    /* background-color: aliceblue; */
    position:relative;
    
}
#oon{
    position: absolute;
    bottom: 0;
    margin-bottom: 0px;
    font-family:cursive;
}
#earths{
    text-align: center;
    font-size: x-large;
    padding-left: 20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#global{
    text-align: center;
    font-size: xx-large;
    font-family:cursive;
    grid-column:  span 2;
}
a{
    color: rgb(206, 50, 50);
}