body{
    background-color: rgb(221, 232, 240);
}
#homepage{
    display: grid;
    grid-template-rows: auto auto auto auto auto auto;
    padding: 15px;
    height:100vh;
    
    overflow-y:scroll;
    
    scrollbar-width: none;
}
/* #homepage::-webkit-scrollbar{
    display:none;
} */
#divbody{
    /* background-color: aqua; */
    display: grid;
    grid-template-columns: 20% 80%;
}
#sidebar{
    /* background-color: rgb(173, 135, 89);  */
    height: 100%;
    display: grid;
    grid-template-rows: 30% auto 30%;
    
    /* background-image: linear-gradient(to bottom,rgb(152, 216, 230),rgba(32, 118, 152, 0.74)); */
}


big{
    font-size:30px;
    font-weight: bolder;
    margin-right: 10px;

}
#dropoption{
    /* border:solid; */
    
    padding: 10px 10px;
    margin-right: 5px;
}
#dropoption:hover{
    /* background-color: rgb(59, 145, 145); */
    border: 2px double rgb(166, 187, 230);
    border-radius: 30px;
    background-image: linear-gradient(to left,rgb(125, 166, 227),rgb(39, 80, 216));
    color: aliceblue;
    text-align: center;
    

}
a{
    color: rgb(206, 50, 50);
}
#sidelinks{
    text-decoration: none;
    color: inherit;
}

#h31{
    margin: 0px;
}
#earth{
    display: grid;
    grid-template:200px/ 60% 40%;
    background-image:url(global.jpg) ;
    background-size: cover;
    color:azure;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    text-shadow: 2px 2px 4px #000000;
    
}
#on{
    /* background-color: aliceblue; */
    position:relative;
    
}
#oon{
    position: absolute;
    bottom: 0;
    margin-bottom: 0px;
    font-family:cursive;
}
#earths{
    text-align: center;
    font-size: x-large;
    padding-left: 20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#global{
    text-align: center;
    font-size: xx-large;
    font-family:cursive;
    grid-column:  span 2;
}

#question{
    font-family:monospace;
    
}
hr{
    margin-top: 5px;
}
#about{
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 10px;
    color: beige;
    grid-gap: 10px;
    
}
#creator{
    background-color: rgb(75, 77, 78);
    padding: 10px;
    
}

#create{
    text-align: left;
}
#names{
    text-align: center;
    padding-bottom:10px;
}
#donation{
    background-color: rgb(75, 77, 78);
    text-align: center;
    
}

#loginlink{
    
    padding: 10px;
    border: 5px double;
    border-radius: 20px;
    color:rgb(59, 57, 57);
    text-decoration: none;
    font-weight:bold
    
}
#login{
    padding-top: 10%;
    text-align: center;
}
